## Installing requirements

In [1]:
pip install datasets transformers seqeval ipywidgets torch

Requirement already satisfied: datasets in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (3.6.0)
Requirement already satisfied: transformers in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (4.52.4)
Requirement already satisfied: seqeval in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (1.2.2)
Requirement already satisfied: ipywidgets in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (8.1.7)
Requirement already satisfied: torch in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (2.7.0)
Requirement already satisfied: filelock in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (3.18.0)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (2.2.6)
Requirement already satisfied: pyarrow>=15.0.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (20.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (2.2.3)
Requirement already satisfied: requests>=2.32.2 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (4.67.1)
Requirement already satisfied: xxhash in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2025.3.0,>=2023.1.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2025.3.0)
Requirement already satisfied: huggingface-hub>=0.24.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (0.32.3)
Requirement already satisfied: packaging in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.6)
Requirement already satisfied: regex!=2019.12.17 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from transformers) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from transformers) (0.5.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from huggingface-hub>=0.24.0->datasets) (4.12.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from huggingface-hub>=0.24.0->datasets) (1.1.2)
Requirement already satisfied: scikit-learn>=0.21.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from seqeval) (1.6.1)
Requirement already satisfied: comm>=0.1.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipywidgets) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipywidgets) (9.1.0)
Requirement already satisfied: traitlets>=4.3.1 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipywidgets) (4.0.14)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipywidgets) (3.0.15)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from torch) (78.1.1)
Requirement already satisfied: sympy>=1.13.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from torch) (1.14.0)
Requirement already satisfied: networkx in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from torch) (3.5)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from torch) (3.1.6)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.4.4)
Requirement already satisfied: propcache>=0.2.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.0)
Requirement already satisfied: idna>=2.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.7)
Requirement already satisfied: decorator in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (2.19.1)
Requirement already satisfied: stack_data in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (2025.4.26)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from scikit-learn>=0.21.3->seqeval) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from scikit-learn>=0.21.3->seqeval) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from scikit-learn>=0.21.3->seqeval) (3.6.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from jinja2->torch) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Requirement already satisfied: executing in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (3.0.0)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

## Loading the dataset

In [2]:
from datasets import load_dataset

dataset = load_dataset("adsabs/WIESP2022-NER")

#Checking
print(dataset)

DatasetDict({
    train: Dataset({
        features: ['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id'],
        num_rows: 1753
    })
    validation: Dataset({
        features: ['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id'],
        num_rows: 1366
    })
    test: Dataset({
        features: ['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id'],
        num_rows: 2505
    })
})

## Processing dataset

In [3]:
#Extracting all unique NER labels
all_labels = [label for example in dataset["train"] for label in example["ner_tags"]]
unique_labels = sorted(set(all_labels))
print(unique_labels)

['B-Archive', 'B-CelestialObject', 'B-CelestialObjectRegion', 'B-CelestialRegion', 'B-Citation', 'B-Collaboration', 'B-ComputingFacility', 'B-Database', 'B-Dataset', 'B-EntityOfFutureInterest', 'B-Event', 'B-Fellowship', 'B-Formula', 'B-Grant', 'B-Identifier', 'B-Instrument', 'B-Location', 'B-Mission', 'B-Model', 'B-ObservationalTechniques', 'B-Observatory', 'B-Organization', 'B-Person', 'B-Proposal', 'B-Software', 'B-Survey', 'B-Tag', 'B-Telescope', 'B-TextGarbage', 'B-URL', 'B-Wavelength', 'I-Archive', 'I-CelestialObject', 'I-CelestialObjectRegion', 'I-CelestialRegion', 'I-Citation', 'I-Collaboration', 'I-ComputingFacility', 'I-Database', 'I-Dataset', 'I-EntityOfFutureInterest', 'I-Event', 'I-Fellowship', 'I-Formula', 'I-Grant', 'I-Identifier', 'I-Instrument', 'I-Location', 'I-Mission', 'I-Model', 'I-ObservationalTechniques', 'I-Observatory', 'I-Organization', 'I-Person', 'I-Proposal', 'I-Software', 'I-Survey', 'I-Tag', 'I-Telescope', 'I-TextGarbage', 'I-URL', 'I-Wavelength', 'O']

In [4]:
#Making lookup dictionaries for training
label2id = {label: i for i, label in enumerate(unique_labels)}
id2label = {i: label for label, i in label2id.items()}

In [5]:
#Converting string labels to IDs
def ner_tags_to_ids(example):
    example["ner_tag_ids"] = [label2id[tag] for tag in example["ner_tags"]]
    return example

for split in dataset.keys():
    dataset[split] = dataset[split].map(ner_tags_to_ids)

## Tokenizing and Aligning labels for BERT

In [10]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("bert-base-cased")

def tokenize_and_align_labels(examples):
    tokenized_inputs = tokenizer(
        examples["tokens"],
        truncation=True,
        padding='max_length',   #ensuring equal lengths
        max_length=512,         #max_length for model
        is_split_into_words=True
    )
    all_labels = []
    for i, labels in enumerate(examples["ner_tag_ids"]):
        word_ids = tokenized_inputs.word_ids(batch_index=i)
        label_ids = []
        previous_word_idx = None
        for word_idx in word_ids:
            if word_idx is None:
                label_ids.append(-100)
            elif word_idx != previous_word_idx:
                label_ids.append(labels[word_idx])
            else:
                label_ids.append(-100)
            previous_word_idx = word_idx
        all_labels.append(label_ids)
    tokenized_inputs["labels"] = all_labels
    return tokenized_inputs

tokenized_datasets = dataset.map(tokenize_and_align_labels, batched=True)

Map:   0%|          | 0/1753 [00:00<?, ? examples/s]

Map:   0%|          | 0/1366 [00:00<?, ? examples/s]

Map:   0%|          | 0/2505 [00:00<?, ? examples/s]

In [11]:
#Checking that it worked
print(tokenized_datasets)
print(tokenized_datasets["train"][0].keys())

DatasetDict({
    train: Dataset({
        features: ['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id', 'ner_tag_ids', 'input_ids', 'token_type_ids', 'attention_mask', 'labels'],
        num_rows: 1753
    })
    validation: Dataset({
        features: ['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id', 'ner_tag_ids', 'input_ids', 'token_type_ids', 'attention_mask', 'labels'],
        num_rows: 1366
    })
    test: Dataset({
        features: ['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id', 'ner_tag_ids', 'input_ids', 'token_type_ids', 'attention_mask', 'labels'],
        num_rows: 2505
    })
})
dict_keys(['bibcode', 'label_studio_id', 'ner_ids', 'ner_tags', 'section', 'tokens', 'unique_id', 'ner_tag_ids', 'input_ids', 'token_type_ids', 'attention_mask', 'labels'])

## Loading model and preparing trainer

In [12]:
from transformers import AutoModelForTokenClassification, TrainingArguments, Trainer

model = AutoModelForTokenClassification.from_pretrained(
    "bert-base-cased", num_labels=len(unique_labels), id2label=id2label, label2id=label2id
)

training_args = TrainingArguments(
    output_dir="./models/ner-bert",
    eval_strategy="epoch",
    learning_rate=2e-5,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=3,
    weight_decay=0.01,
)

from seqeval.metrics import classification_report, f1_score

def compute_metrics(p):
    predictions, labels = p
    predictions = predictions.argmax(-1)
    true_predictions = [
        [id2label[p] for (p, l) in zip(prediction, label) if l != -100]
        for prediction, label in zip(predictions, labels)
    ]
    true_labels = [
        [id2label[l] for (p, l) in zip(prediction, label) if l != -100]
        for prediction, label in zip(predictions, labels)
    ]
    return {
        "f1": f1_score(true_labels, true_predictions),
        "report": classification_report(true_labels, true_predictions),
    }

trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_datasets["train"],
    eval_dataset=tokenized_datasets["validation"],
    tokenizer=tokenizer,
    compute_metrics=compute_metrics
)

Some weights of BertForTokenClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
/var/folders/l1/dk38ftmj30j3r7gf2k6s2v_c0000gn/T/ipykernel_72440/2225457930.py:36: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

## Training model

In [13]:
trainer.train()

/opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages/seqeval/metrics/v1.py:57: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages/torch/utils/data/dataloader.py:683: UserWarning: 'pin_memory' argument is set as true but not supported on MPS now, then device pinned memory won't be used.
  warnings.warn(warn_msg)
/opt/anaconda3/envs/project_text_mining/lib/python3.12/site-packages/seqeval/metrics/v1.py:57: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

TrainOutput(global_step=660, training_loss=0.3369264487064246, metrics={'train_runtime': 500.4089, 'train_samples_per_second': 10.509, 'train_steps_per_second': 1.319, 'total_flos': 1374917488966656.0, 'train_loss': 0.3369264487064246, 'epoch': 3.0})

## Evaluating

In [14]:
trainer.evaluate()

{'eval_loss': 0.21297726035118103,
 'eval_f1': 0.6380986165306846,
 'eval_report': '                         precision    recall  f1-score   support\n\n                Archive       0.03      0.03      0.03       144\n        CelestialObject       0.54      0.74      0.63      1574\n  CelestialObjectRegion       0.00      0.00      0.00       101\n        CelestialRegion       0.00      0.00      0.00        65\n               Citation       0.69      0.83      0.75      3512\n          Collaboration       0.34      0.27      0.30       200\n      ComputingFacility       0.27      0.29      0.28       352\n               Database       0.52      0.29      0.37       176\n                Dataset       0.00      0.00      0.00       176\n EntityOfFutureInterest       0.00      0.00      0.00        43\n                  Event       0.00      0.00      0.00        35\n             Fellowship       0.45      0.55      0.50       312\n                Formula       0.33      0.63      0.43      1052\n                  Grant       0.59      0.71      0.65      2645\n             Identifier       0.00      0.00      0.00        69\n             Instrument       0.44      0.01      0.02       494\n               Location       0.67      0.71      0.69      1034\n                Mission       0.00      0.00      0.00        85\n                  Model       0.25      0.24      0.25       989\nObservationalTechniques       0.00      0.00      0.00        77\n            Observatory       0.56      0.60      0.58       609\n           Organization       0.68      0.83      0.75      5359\n                 Person       0.96      0.96      0.96      3146\n               Proposal       0.00      0.00      0.00        72\n               Software       0.49      0.49      0.49       613\n                 Survey       0.49      0.43      0.46       487\n                    Tag       0.00      0.00      0.00        32\n              Telescope       0.34      0.54      0.42       951\n            TextGarbage       0.00      0.00      0.00        26\n                    URL       0.93      0.97      0.95       189\n             Wavelength       0.49      0.50      0.49      1940\n\n              micro avg       0.60      0.68      0.64     26559\n              macro avg       0.32      0.34      0.32     26559\n           weighted avg       0.59      0.68      0.62     26559\n',
 'eval_runtime': 28.4512,
 'eval_samples_per_second': 48.012,
 'eval_steps_per_second': 6.01,
 'epoch': 3.0}

## Predicting on test set

In [18]:
test_results = trainer.predict(tokenized_datasets["test"])

import numpy as np

preds = np.argmax(test_results.predictions, axis=-1)

## Analysis of results: NER gold vs. predicted labels comparison

In [34]:
def collect_ner_comparison(dataset_split, tokenized_split, preds, id2label):
    rows = []
    for i, pred_ids in enumerate(preds):
        tokens = dataset_split[i]["tokens"]
        gold_label_ids = tokenized_split[i]["labels"]
        token_idx = 0
        for idx, label_id in enumerate(gold_label_ids):
            if label_id != -100:
                if token_idx < len(tokens):
                    rows.append({
                        "sentence_id": i,
                        "token": tokens[token_idx],
                        "gold_label": id2label[label_id],
                        "predicted_label": id2label[pred_ids[idx]]
                    })
                    token_idx += 1
    return pd.DataFrame(rows)

In [37]:
df_compare = collect_ner_comparison(dataset["test"], tokenized_datasets["test"], preds, id2label)

In [40]:
#Displaying table for two sentences
from IPython.display import display, HTML

def show_ner_table(df, num_sentences=2):
    def highlight_row(row):
        return ['background-color: #d4edda' if row['gold_label'] == row['predicted_label']
                else 'background-color: #f8d7da'] * len(row)
    for sent_id in df["sentence_id"].unique()[:num_sentences]:
        sub_df = df[df["sentence_id"] == sent_id]
        styled = sub_df.style.apply(highlight_row, axis=1)
        display(HTML(f"<h4>Sentence {sent_id}</h4>"))
        display(styled)

show_ner_table(df_compare, num_sentences=2)

## Saving results

In [39]:
df_compare.to_csv("ner_test_comparison.csv", index=False)